.column {
  display: inline-block;
  width: 250px;
  min-height: 100px;
  margin-left: 10px;
  padding: 10px;
  background-color: rgba(225, 225, 225, 0.9);
  border-radius: 20px;
}

.columnHeader {
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

.input {
  width: 190px;
  font-size: 15px;
  background-color: transparent;
  border-width: 0;
  outline: none;
}

.editSaveButton {
  margin-left: 5px;
  font-size: 15px;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.editSaveTaskButton {
  font-size: 16px;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
  margin-top: 15px;
}
