.addCard {
  flex: 1 1;
  text-align: left;
  font-size: 16px;
  margin-top: 15px;
  padding: 0;
  background-color: transparent;
  font-family: inherit;
  outline: none;
  border: none;
  cursor: pointer;
}
