.columnHeader {
  display: flex;
  height: 25px;
  margin-bottom: 15px;
  border-bottom: 1px solid black;

  .title {
    display: flex;
    flex: 1;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 10px;
    font-size: 15px;
    overflow-y: auto;

    .input {
      display: flex;
      justify-content: center;
      text-align: center;
      width: 100%;
      font-size: 15px;
      padding: 0;
      align-items: center;
      background-color: transparent;
      border-width: 0;
      outline: none;
      font-family: Papyrus, fantasy;
    }
  }
  .columnActionsButton {
    display: flex;
    height: 100%;
    align-items: center;
    margin-left: 5px;
    cursor: pointer;

    .editSaveButton {
      padding: 0;
      width: 15px;
      color: darkgrey;
      outline: none;
      background-color: transparent;
      border: none;
      cursor: pointer;

      &:hover {
        color: darkgreen;
      }
    }

    .deleteColumnButton {
      flex: 0 0 12px;
      width: 15px;
      margin-left: 5px;
      color: darkgrey;

      &:hover {
        color: black;
      }
    }
  }
}
