.wrapper {
  display: flex;
  justify-content: center;
  flex: 0 0 70px;
  background-color: rgba(16, 24, 17, 0.9);
  color: white;
}

.label {
  line-height: 70px;
  display: inline-block;
  font-size: 30px;
  font-family: Papyrus, fantasy;
}
