.wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  flex: 0 0 70px;
  background-color: rgba(16, 24, 17, 0.3);
  color: white;
}

.title {
  align-self: center;
  font-size: 30px;
}
