.columnsWrapper {
  display: flex;
  align-items: flex-start;
  flex: 1;
  padding-top: 25px;
  white-space: nowrap;
  overflow-x: auto;
}

.addButton {
  font-size: 17px;
  height: 30px;
  border-radius: 4px;
  margin-top: 7px;
  margin-left: 30px;
  outline: none;
  color: white;
  border: none;
  background-color: transparent;
  font-family: Papyrus, fantasy;
  cursor: pointer;
}
