.column {
  display: inline-block;
  width: 250px;
  min-height: 100px;
  margin-left: 10px;
  padding: 10px;
  background-color: rgba(225, 225, 225, 0.9);
  border-radius: 5px;

  .bottomButtons {
    display: flex;

    &:hover .deleteColumnButton {
      visibility: visible;
      color: darkgrey;
      cursor: pointer;
    }

    .deleteColumnButton {
      visibility: hidden;
      align-self: center;

      &:hover {
        color: black;
      }
    }
  }
}
