.column {
  display: inline-block;
  width: 300px;
  min-height: 50px;
  margin-left: 10px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: rgba(225, 225, 225, 0.9);
  border-radius: 5px;

  .droppBox {
    min-height: 35px;
  }
}
