.task {
  display: flex;
  font-size: 15px;
  background-color: white;
  height: 35px;
  margin-bottom: 10px;
  border-radius: 4px;
  padding: 3px;

  &:hover .deleteTask {
    visibility: visible;
    color: darkgrey;
  }

  &:hover .moveIcon {
    visibility: visible;
  }

  .input {
    display: flex;
    flex: 1 1 1;
    font-size: 15px;
    font-family: Papyrus, fantasy;
    outline: none;
    width: 245px;
    min-height: 35px;
    background-color: transparent;
    border-width: 0;
  }

  .deleteTask {
    align-self: center;
    visibility: hidden;
    color: darkgrey;
    padding: 0 5px;
    cursor: pointer;

    &:hover {
      color: black;
    }
  }
}
