#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

body {
  height: 100vh;
  margin: 0;
  font-family: Papyrus, fantasy;
  background: linear-gradient(#3a1c71, #d76d77, #ffaf7b);
  user-select: none;
}
