body {
  height: 100vh;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  background-image: url(https://images.unsplash.com/photo-1468442348891-5e70bc562876?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1055&q=80);
  background-repeat: no-repeat;
  background-size: cover;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.addButton {
  font-size: 17px;
  cursor: pointer;
  height: 30px;
  border-radius: 4px;
  margin-top: 7px;
  margin-left: 30px;
  outline: none;
  background-color: transparent;
  color: white;
  border: none;
  display: inline-block;
  background-color: rgba(16, 24, 17, 0.9);
}

.columnsWrapper {
  display: flex;
  align-items: flex-start;
  flex: 1;
  padding-top: 25px;
  white-space: nowrap;
  overflow-x: auto;
}
